<div class="sidebar">

  <!-- LOGO -->
  <div class="sidebar-logo">
    <img src="logo.jpg" alt="logo" width="40" height="40" class="rounded">
    <div>
      <div class="fw-bold text-white" style="font-size: 16px;">MBOACARE</div>
      <div style="font-size: 10px; color: #34b66a;">VOTRE SANTÉ CONNECTÉE</div>
    </div>
  </div>

  <!-- ESPACE PUBLIC -->
<div class="sidebar-section">ESPACE PUBLIC</div>
<nav class="sidebar-nav">
  <a routerLink="/home">
    <i class="bi bi-globe"></i>
    <span>Voir espace public</span>
  </a>
</nav>

  <!-- MODULE -->
  <div class="sidebar-section"> GESTION DES PHARMACIE</div>

  <!-- MENU -->
  <nav class="sidebar-nav">

    <a routerLink="/admin/dashboard" routerLinkActive="active">
      <i class="bi bi-speedometer2"></i>
      <span>Dashboard</span>
    </a>

    <a routerLink="/admin/pharmacies" routerLinkActive="active">
      <i class="bi bi-hospital"></i>
      <span>Pharmacies</span>
    </a>

    <a routerLink="/admin/medicaments" routerLinkActive="active">
      <i class="bi bi-capsule"></i>
      <span>Médicaments</span>
    </a>

    <a routerLink="/admin/stocks" routerLinkActive="active">
      <i class="bi bi-box-seam"></i>
      <span>Stocks</span>
    </a>

  </nav>

  <!-- PROFIL -->
  <div class="sidebar-profile">
    <img src="https://i.pravatar.cc/40" alt="" class="rounded-circle" width="36" height="36">
    <div>
      <div class="text-white fw-semibold" style="font-size: 13px;">Admin</div>
      <div style="font-size: 11px; color: #aaa;">Administrateur</div>
    </div>
  </div>

</div>
