<div class="layout">
  <nav class="navbar">
    <div class="navbar-left">
      <img src="logo.jpg" alt="Logo" class="navbar-logo" />
      <div class="navbar-brand">
        <span class="brand-name">MboaCare</span>
        <span class="brand-tag">● Santé Connectée</span>
      </div>
    </div>

    <div class="navbar-menu">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-people me-1"></i> Espace Patient
      </a>
      <a routerLink="/home/pharmacies" routerLinkActive="active">
        <i class="bi bi-hospital me-1"></i> Pharmacies
      </a>
      <a routerLink="/home/medicaments" routerLinkActive="active">
        <i class="bi bi-capsule me-1"></i> Médicaments
      </a>
    </div>

    <div class="navbar-right">
      <a routerLink="/admin/dashboard" class="btn-rdv">
        <i class="bi bi-shield-lock me-1"></i> Espace Pharmacien
      </a>
      <div class="navbar-avatar">
        <i class="bi bi-person-circle"></i>
      </div>
    </div>
  </nav>

  <div class="layout-body">
    <router-outlet></router-outlet>
  </div>
</div>