/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
}

:root {
  --bleu: #1656d9;
  --vert: #34b66a;
  --rouge: #e74c3c;
}